# SPDX-FileCopyrightText: Copyright (C) 2024 Martijn Saelens and Contributors to the project (https://github.com/MartenBE/mkslides/graphs/contributors)
#
# SPDX-License-Identifier: MIT

[submodule "assets/reveal.js"]
	path = src/mkslides/assets/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "assets/highlight.js"]
	path = src/mkslides/assets/highlight.js
	url = https://github.com/highlightjs/cdn-release.git
