/*
*  https://www.hogent.be/dit-is-hogent/huisstijl/huisstijl-kleuren/
*  https://fonts.google.com/specimen/Montserrat
*  https://fonts.google.com/specimen/Inconsolata
*/

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

:root {
    --hogent-blue: #4ca2d5;
    --hogent-gray: #c3bbaf;
    --hogent-red: #ef8767;
    --hogent-white: #ffffff;
    --hogent-black: #000000;
    --hogent-font-family: "Montserrat", "Arial", sans-serif;

    --wikipedia-a-color: #3366cc;
    --wikipedia-code-bg-color: #f8f8f8;
    --wikipedia-code-border-color: #eaecf0;

    --github-font-family: font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

    --header-1-align: center;
    --header-align: left;
    --header-color: var(--hogent-black);

    --content-align: left;
    --content-line-height: 1.3;
    --content-padding-bottom: 0.5em;

    --math-align: left;

    --smaller-font-size: 2.6rem;

    --a-color: var(--wikipedia-a-color);
    --inline-code-bg-color: var(--wikipedia-code-bg-color);
    --inline-code-border-color: var(--wikipedia-code-border-color);
    --code-bg-color: var(--wikipedia-code-bg-color);
    --code-border-color: var(--wikipedia-code-border-color);

    --quote-color: grey;
    --quote-bg-color: white;
}

body {
    background: url("https://www.hogent.be/themes/hogent/assets/images/HOGENT_Logo.png");
    background-position: right 1% bottom 15%;
    background-repeat: no-repeat;
    font-family: var(--hogent-font-family);
    font-weight: 400;
    font-size: 3.2rem;
}

section {
    text-align: var(--content-align);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: var(--header-align);
    font-weight: 800;
    margin-bottom: var(--content-padding-bottom);
    line-height: 1.25;
}

h1 {
    text-align: var(--header-1-align);
    font-size: 2.5em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

b,
strong {
    color: var(--hogent-red);
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

a {
    color: var(--a-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: var(--inline-code-bg-color);
    font-family: "Inconsolata", monospace;
    font-size: 0.8em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-width: 0.1ch;
    border-style: solid;
    border-color: var(--inline-code-border-color);
    border-radius: 0.2em;
}

pre code:not(.mermaid) {
    background-color: var(--code-bg-color);
    text-align: left;
    font-size: var(--smaller-font-size);
    white-space: pre-wrap;
    margin-bottom: var(--content-padding-bottom);
    border-width: 0.1ch;
    border-style: solid;
    border-color: var(--code-border-color);
    border-radius: 0.2em;
}

p {
    line-height: var(--content-line-height);
    margin-bottom: var(--content-padding-bottom);
}

blockquote {
    color: var(--quote-color);
    background-color: var(--quote-bg-color);
    font-style: italic;
    line-height: var(--content-line-height);
    border-left-style: solid;
    border-left-width: 0.2ch;
    border-color: var(--quote-color);
    padding-left: 0.5ch;
    margin-bottom: var(--content-padding-bottom);
}

img,
video,
iframe,
pre code {
    max-width: 90vw;
    max-height: 90vh;
    margin-bottom: var(--content-padding-bottom);
}

div.MathJax_Display {
    text-align: var(--math-align) !important;
    margin-bottom: var(--content-padding-bottom);
}

table {
    font-size: var(--smaller-font-size);
    border-collapse: collapse;
    margin-bottom: var(--content-padding-bottom);
}

th {
    font-weight: bold;
}

td {
    border-top-style: solid;
    border-width: 0.1ch;
    border-color: var(--hogent-black);
}

th,
td {
    padding: 0.2em 0.8em 0.2em 0.8em;
}

li {
    text-align: left;
    line-height: var(--content-line-height);
    margin-left: 3ch;
}

.reveal section > ul,
.reveal section > ol {
    margin-bottom: var(--content-padding-bottom);
}

.reveal section ol {
    list-style-type: decimal;
}

.reveal section ul {
    list-style-type: disc;
}

.reveal section ul ul {
    list-style-type: square;
}

.reveal section ul ul ul {
    list-style-type: circle;
}

.reveal .progress {
    height: 1vh;
    background: var(--hogent-white);
}

.reveal .progress span {
    background: var(--hogent-blue);
}

.reveal .controls {
    color: var(--hogent-blue);
}

.reveal .slide-number {
    font-size: 1rem;
    color: var(--hogent-blue);
    background-color: transparent;
}

.reveal .slide-number a {
    text-decoration: none;
}

div.center > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.multicolumn {
    /* https://stackoverflow.com/a/44392145 */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    gap: 5vw;
    margin-bottom: var(--content-padding-bottom);
}
