{% macro render_node(node) %}
<li>
    {% if node.represents_file() %}
        <span class="node-title">{{ node.title }}</span>:
        <a href="{{ node.url }}" target="_blank" title="View slides">slides</a>,
        <a href="{{ node.url }}?showNotes=true" target="_blank" title="View slides with speaker notes">slides with notes</a>,
        <a href="{{ node.url }}?print-pdf&showNotes=separate-page" target="_blank" title="Download as PDF with speaker notes for printing">PDF</a>
    {% endif %}

    {% if node.represents_folder() %}
        {{ node.title }}
        <ul>
            {% for child in node.children %}
                {{ render_node(child) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endmacro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% if favicon %}
            <link rel="icon" href="{{ favicon }}">
        {% endif %}

        {% if theme %}
            <link rel="stylesheet" href="{{ theme }}" />
        {% endif %}

        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>

        <ul>
            {% for node in navtree_nodes %}
                hello
                {{ render_node(node) }}
            {% endfor %}
        </ul>

        <p>
            Slides last build at <code>{{ build_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</code>.<br />
            The PDF link generates a single-page document (including speaker notes) suitable for <a href="https://revealjs.com/pdf-export/" target="_blank">saving as a PDF for printing</a>.
        </p>
    </body>
</html>

