<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Index</h1>

        <ul>
        {% for s in slideshows %}
            <li><a href="{{ s.location }}" target="_blank">{{ s.title }}</a></li>
        {% endfor %}
        </ul>

        <p>Slides last build at {{ build_datetime }}.</p>
    </body>
</html>
