<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% if favicon %}
            <link rel="icon" href="{{ favicon }}">
        {% endif %}

        <link rel="stylesheet" href="{{ revealjs_path }}/dist/reveal.css" />

        {% if theme %}
            <link rel="stylesheet" href="{{ theme }}" />
        {% endif %}
        {% if highlight_theme %}
            <link rel="stylesheet" href="{{ highlight_theme }}" />
        {% endif %}
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown
                {% for key, value in markdown_data_options.items() %}
                    {{ key }}="{{ value }}"
                {% endfor %}
                >
                    <textarea data-template>
                        {{ markdown }}
                    </textarea>
                </section>
            </div>
        </div>
        <script src="{{ revealjs_path }}/dist/reveal.js"></script>
        <script src="{{ revealjs_path }}/plugin/markdown/markdown.js"></script>
        <script src="{{ revealjs_path }}/plugin/highlight/highlight.js"></script>
        <script src="{{ revealjs_path }}/plugin/zoom/zoom.js"></script>

        <!-- https://github.com/MartenBE/mkslides/issues/3
            <script src="{{ revealjs_path }}/plugin/notes/notes.js"></script>
        -->
        <script src="{{ revealjs_path }}/plugin/math/math.js"></script>

        {% if plugins %}
            {% for plugin in plugins %}
                {% for javascript in plugin.extra_javascript %}
                    <script src="{{ javascript }}"></script>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <script>
            Reveal.initialize({
                {% if revealjs_config %}
                    {% for key, value in revealjs_config.items() %}
                        {{ key }}: {{ value | tojson | safe }},
                    {% endfor %}
                {% endif %}
                plugins: [
                    RevealMarkdown,
                    RevealHighlight,
                    RevealZoom,
                    // RevealNotes, // https://github.com/MartenBE/mkslides/issues/3
                    RevealMath,

                    {% if plugins %}
                        {% for plugin in plugins %}
                            {% if plugin.name %}
                                {{ plugin.name }},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                ],
            });
        </script>
    </body>
</html>
