<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ revealjs_path }}/dist/reveal.css" />
        <link rel="stylesheet" href="{{ theme }}">
        <link rel="stylesheet" href="{{ revealjs_path }}/plugin/highlight/monokai.css" />
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown>
                    <textarea data-template>
                        {{ markdown }}
                    </textarea>
                </section>
            </div>
        </div>
        <script src="{{ revealjs_path }}/dist/reveal.js"></script>
        <script src="{{ revealjs_path }}/plugin/markdown/markdown.js"></script>
        <script src="{{ revealjs_path }}/plugin/highlight/highlight.js"></script>
        <script src="{{ revealjs_path }}/plugin/zoom/zoom.js"></script>
        <script src="{{ revealjs_path }}/plugin/notes/notes.js"></script>
        <script src="{{ revealjs_path }}/plugin/math/math.js"></script>
        <script>
            Reveal.initialize({
                {% for key, value in revealjs_config.items() -%}
                    {{ key }}: {% if value is number %}{{ value }}{% else %}"{{ value }}"{% endif %},
                {% endfor -%}
                plugins: [
                    RevealMarkdown,
                    RevealHighlight,
                    RevealZoom,
                    RevealNotes,
                    RevealMath
                ],
            });
        </script>
    </body>
</html>
