name: CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v6
        with:
          node-version: "22.20.0"
      - run: npm install --global prettier
      - run: prettier --check .
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13.8"
      - run: pip install poetry
      - run: poetry install --with dev
      # - run: poetry run ruff format --check
      - run: poetry run ruff check
      - run: poetry run mypy src/ tests/
      - run: poetry run pytest --capture=no

  deploy:
    if: github.event_name == 'push' # Ensure deploy only runs on push, not pull_request
    needs: test
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/configure-pages@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: pip install poetry
      - run: poetry install --with dev
      - run: poetry run mkslides build slides/index.md
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./site
      - id: deployment
        uses: actions/deploy-pages@v4
